



<div class="hero">
  <br/>
  <div class="frosty col-10 offset-1 text-center">
    <br/>
    <h1> WANT TO HIRE SOMEONE AMAZING?</h1>
    <br/>
    <h2> LET ME SHOW YOU WHY THATS ME!</h2>
    <br/>
    <%= link_to 'HIRE ME', new_me_path %>
    <br/><br/>
  </div>
</div>

<br />
<div class="extras">
<div class="row feature text-center">
  <div class="col-12 col-sm">
   <%= link_to "Coding Examples", me_code_examples_path %>  
    <br />
    <p> Coding examples of different challenges.</p>
  </div>

  <div class="col-12 col-sm">
    <%= link_to "Application I've Completed", me_application_path %>  
    <br />
    <p>Come and look at the applications I have completed so far!</p>
  </div>

  <div class="col-12 col-sm">
     <%= link_to "Resume", me_resume_path %>  
    <br />
    <p>Stills currently under construction</p>
  </div>
</div> 
</div>
