



<div class="hero">
  <br/>
  <div class="frosty col-10 offset-1 text-center">
    <br/>
    <h1> WANT TO HIRE SOMEONE AMAZING?</h1>
    <br/>
    <h2> LET ME SHOW YOU WHY THATS ME!</h2>
    <br/>
    <%= link_to 'HIRE ME', new_me_path %>
    <br/><br/>
  </div>
</div>

<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
     <%= link_to "coding examples", "#" %>  
    <br />
    <p>Choose from any number of courses to study with amazing teachers.</p>
  </div>

  <div class="col-12 col-sm">
    <%= link_to "Application I've completed", "#" %>  
    <br />
    <p>Enroll and access a courses archive of lessons.</p>
  </div>

  <div class="col-12 col-sm">
     <%= link_to "Resume", "#" %>  
    <br />
    <p>Learn with a community of like-minded individuals.</p>
  </div>
</div> 
