<h1>resume</h1>
    <h3>Skills &amp; Tools</h3>
    <hr class="yellow" />
    <p class="skills-and-tools">
      Sierra has developed proficiency and expertise
      in the following programming languages and
      comfort with the following tools.
    </p>
    <div class="icons">
      <img src="github.png" class="icon" />
      <img src="rubocop.png" class="icon" />
      <img src="trello.png" class="icon" />
      <img src="slack.png" class="icon" />
      <img src="codeship.png" class="icon" />

      <br class="clear" />
      <img src="skills.png" class="icon"/>
    </div>